<!-- cdn react js -->
<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
<!-- cdn react dom -->
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
<!-- cdn react router dom -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js'></script>
<!-- cdn babel -->
<script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>

<!-- cdn ant design que permite integración de componentes a react js-->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/antd/4.16.6/antd-with-locales.min.js"
  integrity="sha512-zoU9bS4QhcBlSzsmWhTXRPdtIJAKnSnhcwaKQMXwSTq7B8djjPZyVtceaHOTCGnMWKHCDSYD+CKNk0CXp33mKQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>
<link 
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.16.6/antd.min.css"
  integrity="sha512-Wc9BBh2l7VS6ZBPDfYIv7rpKVuzuGHV4uelMzUPKTucJMR+41H1tn3JBRIfXrFn0LwLRNSlP9Iw2MFslX4IfOw=="
  crossorigin="anonymous" referrerpolicy="no-referrer">
</link>
<!-- cdn icons ant design -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/ant-design-icons/4.6.2/index.umd.min.js"
  integrity="sha512-R2qlkPDjGD7w014VzLfLntriNufg8evy8u1uY4gOkt5rAxNjM5OxNDTWZvBdi5zrKmfuh03gaLdDdPGyc6SxlQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
